span.thumb {
	background: #eee;
	border: 2px solid transparent;
	display: inline-block;
	height: 180px;
	margin: 5px 5px 5px 5px;
	padding: 3px;
	text-align: center;
	vertical-align: top;
	width: 170px;
}
span.thumb:hover {
	border: 2px solid #aaa;
}
img.preview {
	max-height: 100%;
	max-width: 100%;
	vertical-align: center;
}

header, footer {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	margin: 0 1.5% 24px 1.5%;
	padding: 24px 15px;
	text-align: center;
}

.imagelist {
	margin: 0 1.5% 24px 1.5%;
	text-align: center;
}

.flex {
	display: flex;
}

.sidebar {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	margin: 0 1.5% 24px 1.5%;
	min-width: 16em;
	padding: 24px 15px;
	text-align: center;
}

.content {
	background: #2db34a;
	border-radius: 6px;
	flex: 1;
	margin: 0 1.5% 24px 1.5%;
	overflow: auto;
	padding: 24px 15px;
	text-align: center;
}

.upload-form {
	min-width: 16em;
	padding: 24px 15px;
	text-align: center;
}

.upload-preview {
	background: #2db34a;
	border-radius: 6px;
	flex: 1;
	margin: 0 1.5% 24px 1.5%;
	overflow: auto;
	padding: 24px 15px;
	text-align: center;
}
